h1{
    text-align: center;
}

.container{
    width: 460px;
    height: 540px;
    background-color: rgb(52, 52, 52);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

p{
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#screen{
    background-color: rgb(178, 212, 228);
    width: 448px;
    height: 88px;
    margin: 5px;
    font-size: 4rem;
    text-align: right;
    border-radius: 10px;
}
.button{
    background-color:black;
    color: white;
    width: 92px;
    height: 70px;
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 15px;
}
.clear{
    background-color: red;
}
.result{
    background-color: green;
}
.operator{
    background-color: rgb(132, 132, 130);
}

@media (max-width:786px){
    
}